@{
    ViewData["Title"] = "KQF Floor Login";
}

<div class="row">

    <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 mt-3">

        <div class="card ">
            <div class="card-header text-center">
                Floor Login
            </div>
            <div class="card-body">
   @*             <h5 class="card-title">Enter your KQF Credentials</h5>

                <form method="post" action="@Url.Action("Login")">

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="userName" placeholder="john.doe">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="">
                    </div>

                    <ul class="text-danger">
                        @foreach (var err in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@err.ErrorMessage</li>
                        }
                    </ul>
            
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>*@
                <form method="get" action="@Url.Action("ExternalLogin")">
                <div class="bsk-container">
                        <button style="margin-left: 70px;" class="bsk-btn bsk-btn-default">
                            <i class="fa fa-windows"></i> Sign in with your Microsoft Account
                    </button>
                </div>
                </form>

            </div>

        </div>
    </div>

</div>