@using KQF.Floor.Web.Models.BusinessCentralApi_Models
@model GenericResponse<Company_Detail>
@if (Model.ReturnList != null)
{
    @foreach (var company in Model?.ReturnList)
    {
        <li id="@company.Id">
            <a class="dropdown-item" href="~/home?companyId=@company.Id">
                @company.Name
            </a>
        </li>
    }
}
